%ul.nav.nav-pills.nav-justified
  %li{role: 'presentation'}
    %a{href: url('/')} All tweets
  %li{role: 'presentation'}
    %a{href: url('/with_hashtags')} Tweets with hashtags
  %li{role: 'presentation'}
    %a{href: url('/stats')} Hashtag statistics
  %li.active{role: 'presentation'}
    %a{href: url('/choose_hashtags')} Choose which hashtags to track
.panel.panel-default
  %table.table.table-striped
    %thead
      %tr
        %th Hashtag
        %th Track?
    %tbody
      %form{action: url('/choose_hashtags'), method: 'post'}
        -@hashtags.each do |hashtag|
          %tr
            %td=hashtag[:hashtag]
            %td
              %input{type: 'checkbox', name: "hashtags[#{hashtag[:id]}]"}
        %input{type: 'submit'}
