%ul.nav.nav-pills.nav-justified
  %li{role: 'presentation'}
    %a{href: url('/')} All tweets
  %li{role: 'presentation'}
    %a{href: url('/with_hashtags')} Tweets with hashtags
  %li.active{role: 'presentation'}
    %a{href: url('/stats')} Hashtag statistics
  %li{role: 'presentation'}
    %a{href: url('/choose_hashtags')} Choose which hashtags to track
.panel.panel-default
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th Hashtag
        %th No. of tweets
        %th First observed
        %th Last observed
        %th All tweets for hashtag
    %tbody
      -@hashtags.each do |hashtag|
        %tr
          %td=hashtag[:hashtag]
          %td=hashtag[:count]
          %td=hashtag[:first_observed]
          %td=hashtag[:last_observed]
          %td
            %a{href: url("/hashtag/#{hashtag[:hashtag_id]}")} Tweets
